@import './reset.css';

@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes';
    src: url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'TTLakes', sans-serif;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

::-webkit-scrollbar {
    width: 0;
}

.body_container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.1);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;

}

.container_header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 24px;
}

.header_menu_left {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.main_menu {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.item {
    display: flex;
    align-items: center;
    column-gap: 17px;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.item img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #7E7E82;
}

.item:hover img {
    opacity: 1;
}

.footer_menu {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.telephone {
    font-weight: 700;
}

.container_footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.language {
    display: flex;
    column-gap: 7px;
}

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-between;
    margin-left: 24px;
}

.ru {
    color: #7E7E82;
}
